body {
  text-align: center;
}
table {
  margin: auto;
}
code {
  text-align: left;
  display: inline-block;
  margin: 0 0 auto;
  padding: 0 12px 0 12px;
  overflow: auto;
  font-size: 85%;
  line-height: 1.45;
  background-color: #ababab;
  border-radius: 3px;
  border-radius: 10px;
  box-shadow: 1px 1px 5px black;
}